@media screen,(max-width:1020px) and (max-height:800px){
/***General**/
@font-family: 'Bevan', serif;

:root{
  --main-color: #800000;
  --main-element-color:#f5ecd3;
  --bg-color: #C19283;
  --text-color:#b96a9a;
}
/***header**/

.body{
  width: 1340px;
  height: 900px;
}

.container{
  position: relative;
  width: 70%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg{
  position: relative;
  width: 1195px;
  height: 800px;
  left: 20%;
  background-color: var(--bg-color);
  border-radius:20px ;
}

.line{
  position: absolute;
  top: 0px;
  height: 120px;
  width: 1195px;
  border-bottom:solid 3px var(--main-color);
}

h1 {
  position: relative;
  left: 35%;
  font-family: 'Bevan', serif;
  font-size: 40px;
  color: var(--main-element-color);
}

.line-2{
  position: absolute;
  border: solid 2px;
  width: 6%;
  height: 800px;
  border: none;
  border-right: solid 2px var(--main-color);
}

.line-3{
  position: absolute;
  border: none;
  border-left: solid 2px var(--main-color);
  width: 6%;
  height: 800px;
  left: 95%;
}

.text-HP{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 30%;
  left: 10%;
  top: 10%;
}

.text{
  position: relative;
  color: var(--main-element-color);
  font-family: 'Bevan', serif;
  font-size: 30px;
  border-bottom: dashed 2px;
  
}

.text-HP p{
  position: relative;
  font-family: 'Bevan', serif;
  color: var(--main-color);
  font-size: 20px;
  border: dashed 2px;
  border-color: #3a5a40;
  border-radius: 30px 30px 30px 30px;
}

/**boxes**/

.boxes{
  display: flex;
  position: relative;
  width: 20%;
  top: 20px;
  height: 50px;
}

.box1{
  position: relative;
  background-color: #3a5a40;
  width: 15%;
  height: 30px;
  left: 40%;
  top: 30%;
}

.box2{
  position: relative;
  background-color: #800000;
  width: 15%;
  height: 30px;
  left: 45%;
  top: 30%;
}

.box3{
  position: relative;
  background-color: #f5ecd3;
  width: 15%;
  height: 30px;
  left: 50%;
  top: 30%;
}

/*****buttons*****/

.button1{
  position: relative;
  bottom: 2%;
}

.heart{
  background: white;
  position: relative;
  width: 15%;
  height: 60px;
  left: 70%;
  border-radius: 30px;
  border: none;
  font-family: 'Bevan', serif;
  color: #3a5a40;
  font-size: 15px;
}

.heart:hover{
  color: red;
}

.button2{
  position: relative;
  top: 10%;
  left: 20%;
}

.gift{
  position: relative;
  width: 10%;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-family: 'Bevan', serif;
  color:#3a5a40;
}

.gift:hover{
  color: red;
}
/**Box image**/
.box{
  display: flex;
  position: relative;
  color: #800000;
  left: 45%;
  bottom: 60%;
}

.box img{
  width: 45%;
  height: 550px;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}

.box p{
  position: relative;
}

.img-deco img{
  position: absolute;
  top: 18%;
  left: 6%;
  width: 10%;
  height: 100px;
  background-color: transparent;
}

.img-2 img{
  top: 82%;
  left: 2%;
  position: absolute;
  width: 20%;
  height: 150px;
}
   }