@font-face{
font-family: "AbrilFatFace";
src: url(Fonts/AbrilFatface-Regular.ttf); }
@font-face {
    font-family: "Nabla";
    src: url(Fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);
}
:root{
    --main-color:#7e121d;
    --cards-color:#bd3634;
    --green:#034f1b;
    --yellow:#ceac5c;
    --blue:#c6efff;
    --brown:#5e4b3b;
}

/**button**/
.back{
    background-color: var(--yellow);
    width: 5%;
    height: 50%;
    border: none;
    border-radius: 20px;
    position: relative;
    left: 20px;
    bottom: 50%;
    font-family: 'AbrilFatFace';
    font-size: 18px;
    color: white;
}
header{
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
}

.main-title{
    position: relative;
    text-align: center;
    font-family: 'Nabla';
    top: 17%;
}
/**cards**/
main{
    width: 100%;
    height: 800px;
    background-color: var(--yellow);
}

.love-letters{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.letters-cards{
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
}

.card{
    position: relative;
    top: 20%;
    left: 15%;
    background-color: var(--cards-color);
    width: 70%;
    height: 300px;
    border-radius: 20px;
}

.cards-title{
    position: relative;
    text-align: center;
    font-family: 'AbrilFatFace';
    color: var(--yellow);
}

.cards-content{
    position: relative;
    text-align: center;
    font-family: 'AbrilFatFace';
    color: var(--yellow);
    font-size: 25px;
}

.deco img{
    position: absolute;
    top: 65%;
    left: 39%;
    width: 20%;
    height: 150px;
    background-color: transparent;
}
